@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: sticky;
  top: 0;
  z-index: 40;
  background: white;
}

/* Smooth transitions for animations */
:host ::ng-deep .transition-all {
  transition: all 300ms ease-in-out;
}

:host ::ng-deep .duration-300 {
  transition-duration: 300ms;
}
